@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* .blog{
    width: 112px;
} */
.blog img{
    width: 112px;
    height: 66px;
}
.globe{
    display: flex;
    align-items: center;
    margin-top: 70px;
    
}
.globe p{
    font-size: 20px;
    margin: 25px;
}
.film-head{
    width: 628px;
    
}
.film-head h1{
    font-size: 80px;
    line-height: 101.38%;
    margin-top: 35px;
    margin-bottom: 35px;
}
.film-text{
    width: 414px;
}
.film-text p{
    font-size: 20px;
    line-height: 150%;
}
.film-photo img{
    width: 304px;
    height: 356px;
}

.blue{
    width: 483.59px;
    height: 200px;
    background-color: #1E4681;
    border-radius: 5px;
    justify-content: center;
    padding: 19px 25px;
    margin-top: 25px;
    display: flex;
    align-items: center;
}
.people p{
    font-weight: 400;
    font-family: Roboto Slab;
    font-size: 25px;
    line-height: 130%;
    color: #FFFFFF;
    
}
.author{
    display: flex;
    justify-content: end;
}
.author p{
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
}
.apple{
    display: flex;
    
}
.center{
    justify-content: center !important;
}
.ellipse{
    position: relative;
    top: -25px;
    z-index: -1;
    right: -7%;
}
@media screen and (max-width:1279px) and (min-width:843px){
   .blog img{
    width: 52.19px;
    height: 30.75px;
   }
    .globe{
        display: flex;
        align-items: center;
        margin-top: 25px;
    }
    .globe p{
        margin: 0px 14px;
        font-size: 12px;
    }
    .film-head{
        width: 363px;
    }
    .film-head h1{
        font-size: 46px;
        margin-top: 0px;
        margin-bottom: 22px;
    }
    .film-text{
        width: 264px;
    }
    .film-text p{
        font-size: 12px;
    }
    .film-photo{
        height: 206.18px;
    }
    .film-photo img{
        width: 176.07px;
        height: 206.18px;
        
    }
    .globe img{
        width: 12.74px;
        height: 12.16px;
    }
    .ellipse{
        position: relative;
        top: -10px;
        z-index: -1;
        right: -6%;
    }
    .ellipse img{
        width: 158.69px;
        height: 23.75px;
    }
    .blue{
        width: 280.11px;
        height: 115.83px;
        background: #1E4681;
        border-radius: 2.89583px;
        justify-content: center;
        padding: 11px 15px;
    }
    .people p{
        font-size: 14px;
        /* margin-left: 26px; */
        
    }
    .author{
        display: flex;
        justify-content: end;
    }
    .author p{
        font-size: 12px;
        color: #FFFFFF;
    }
    .apple{
        display: flex;
        
    }
    .center{
        justify-content: center !important;
    }
}
@media screen and (max-width:843px){
    .blog img{
        width: 64.87px;
        height: 38.23px;
        margin-top: 25px;
   }
    .globe{
        display: flex;
        align-items: center;
        margin-top: 25px;
    }
    .globe p{
        margin: 0px 14px;
        font-size: 10px;
    }
    .film-head{
        width: 292.63px;
    }
    .film-head h1{
        font-size: 37px;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    .film-text{
        width: 212.4px;
    }
    .film-text p{
        font-size: 10px;
    }
    .film-photo{
        height: 175.1px;
    }
    .film-photo img{
        width: 141.68px;
        height: 175.1px;
        justify-content: end;
    }
    .globe img{
        width: 10.25px;
        height: 9.79px;
    }
    .ellipse{
        position: relative;
        top: -10px;
        z-index: -1;
        right: -17px;
    }
    .justify-end{
        width: calc(100%/12*12) !important;
        display: flex;
        justify-content: end;
    }
    .ellipse img{
        width: 127.68px;
        height: 19.1px;
    }
    .blue{
        width: 225.36px;
        height: 93.19px;
        border-radius: 2.32986px;
        padding: 8px 12px;
    } 
    .people p{
        font-size: 11px;
        line-height: 14.3px;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 400;
    }
    .author{
        display: flex;
        justify-content: end;
    }
    .author p{
        font-size: 10px;
    }

}