@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300;400;500;600;900&family=Roboto+Slab&family=Roboto:wght@500&display=swap');
.information{
    width: 100%;
    height: 510px;
}
.format h1{
    height: 93px;
    font-size: 55px;
    Line-height :56px;
  
}
.format{
    width: 100%;
    height: 182px;
}
.info-head{
    color: #1E4681;
    font-size: 25px;
    line-height: 32px;
    font-style: normal;
    margin-bottom: 10px;

}
.info{
    font-size: 18px;
    line-height: 24px;
}
.information p{
    line-height: 23px;
    font-size: 18px;
}
.learn{
    width: 100%;
    /* height: 643px; */
}
.learn h1{
    width: 100%;
    height: 93px;
}
.learn-head{
    width: 100%;
    height: 99px;
}
li p{
    font-size: 24px;
    line-height: 36px;
    vertical-align: top;
   
}

/* Responsivliyin yazilmasi  */
@media screen and (max-width:1200px){
    .information{
        height: 403px;
    }
    .format{
        height: 143px;
    }
    .format h1{
        height: 74px;
        font-size: 43px;
        line-height: 44px;
    }
    .info-head{
        font-size: 20px;
        line-height: 25px;
    }
    .information p{
        font-size: 15px;
        line-height: 19px;
    }
    /* .learn{
        height: 534px;
    } */
   .learn-head{
       height: 82px;
   }
   .learn-head h1{ 
      height: 74px;
      font-size: 43px;
      line-height: 44px;
   }
   li p{
       font-size: 18px;
       line-height: 28px;
   }
}
@media screen and (max-width:992px)  {
    .information{
        height: 296px;
    }
    .format{
        height: 105px;
    }
    .format h1{
        height: 54px;
        font-size: 32px;
        line-height: 32px;
    }
    .info-head{
        font-size: 15px;
        line-height: 19px;
    }
    .information p{
        font-size: 11px;
        line-height: 14px;
    }
    /* .learn{
        height: 426px;
    } */
   .learn-head{
       height: 66px;
   }
   .learn-head h1{ 
      height: 54px;
      font-size: 32px;
      line-height: 32px;
   }
   li p{
       font-size: 14px;
       line-height: 21px;
   }
    
}
@media screen and (max-width:767px)  {
    .information{
        height: 349px;
    }
    .format{
        height: 67px;
    }
    .format h1{
        height: 34px;
        font-size: 26px;
        line-height: 26px;
    }
    .info-head{
        font-size: 12px;
        line-height: 15px;
    }
    .information p{
        font-size: 10px;
        line-height: 13px;
        margin-bottom: 30px;
    }
    .row{
        flex-direction: column;
    }
    /* .learn{
        height: 311px;
    } */
   .learn-head{
       height: 53px;
   }
   .learn-head h1{ 
      height: 43px;
      font-size: 26px;
      line-height: 26px;
   }
   li p{
       font-size: 12px;
       line-height: 18px;
   }
    
}
@media screen and (max-width: 586px){
    .information{
        height: 402px;
    }
    .format{
        height: 48px;
    }
    .format h1{
        height: 14px;
        font-size: 20px;
        line-height: 20px;
    }
    .info-head{
        font-size: 9px;
        line-height: 11px;
    }
    .information p{
        font-size: 9px;
        line-height: 12px;
        margin-bottom: 30px;
       
    }
    .row{
        flex-direction: column;
    }
    /* .learn{
        height: 254px;
    } */
   .learn-head{
       height: 40px;
   }
   .learn-head h1{ 
      height: 32px;
      font-size: 20px;
      line-height: 20px;
   }
   li p{
       font-size: 10px;
       line-height: 15px;
   }
    
}
    